* {
  margin: 0;
  padding: 0;
}
:root {
  --grid-cols: 1;
  --grid-rows: 1;
  --div-color: #364fc7;
}

.container {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
  padding: 1em;
  border: 0.2px solid #ddd;
  text-align: center;
}

.grid-item:hover {
  background-color: var(--div-color);
}

.visited {
  background-color: black;
}
